<!-- needed for mobile django may already have this -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- /needed for mobile django may already have this -->

<style>
	@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

	footer.django-admin-simplified-footer {
		background-color: #f2f2f2;
		padding: 8px 0 32px 0;
		display: block;
		width: 100%;
		font-style: normal;
		font-family: 'Karla', sans-serif;
		position: relative;
	}


	footer.django-admin-simplified-footer:after {
		display: block;
		content: '';
		width: 100%;
		height: 24px;
		background-image: url('https://imsesite.wpengine.com/wp-content/themes/starting-point/dist/images/pattern_yellow_small.jpg');
		background-size: cover;
		background-position: center;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	footer.django-admin-simplified-footer a {
		text-decoration: none;
	}

	footer.django-admin-simplified-footer>div {
		max-width: 1200px;
		display: grid;
		grid-template-columns: 1fr 2fr 3fr;
		grid-template-rows: auto;
		margin: 0 auto;
		align-items: center;
	}

	footer.django-admin-simplified-footer img.logo {
		height: 72px;
		width: auto;
		display: block;
		margin: 0 16px 0 0;
	}

	footer.django-admin-simplified-footer a.phone {
		display: block;
		font-weight: 800;
		color: #2b9de3;
		transition: all .2s linear;
	}

	footer.django-admin-simplified-footer a.phone:hover,
	footer.django-admin-simplified-footer a.phone:focus {
		color: #0a5b99;
	}

	footer.django-admin-simplified-footer ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	footer.django-admin-simplified-footer ul li {
		margin: 0 0 0 8px;
	}

	footer.django-admin-simplified-footer ul li a:hover img,
	footer.django-admin-simplified-footer ul li a:focus img {
		background-color: #ccc;
	}

	footer.django-admin-simplified-footer ul li img {
		width: 40px;
		height: 40px;
		object-fit: contain;
		object-position: center;
		transition: all .2s linear;
		border-radius: 50%;
		display: block;
	}

	@media only screen and (max-width: 550px) {
		footer.django-admin-simplified-footer>div {
			grid-template-columns: 1fr;
			text-align: center;
		}

		footer.django-admin-simplified-footer img.logo {
			margin: 0 auto 16px auto;
		}

		footer.django-admin-simplified-footer ul {
			justify-content: center;
			margin: 32px 0 16px 0;
		}
	}
</style>
<footer class="django-admin-simplified-footer">
	<div>
		<div>
			<a href="https://imsesite.wpengine.com/">
				<img class="logo" src="https://imsesite.wpengine.com/wp-content/themes/starting-point/dist/images/logo-imse.svg"
					alt="Back to imse.com" />
			</a>
		</div>
		<div>
			<a href="tel:+18442923249" class="phone">(800) 646 - 9788 &gt;</a>
		</div>
		<div>
			<ul>
				<li>
					<a href="https://www.facebook.com/Orton-Gillingham-358905134128313/" target="_blank">
						<img src="https://imsesite.wpengine.com/wp-content/themes/starting-point/dist/images/icon-fb.svg"
							alt="IMSE Facebook Profile" />
					</a>
				</li>
				<li>
					<a href="https://www.pinterest.com/ortongillingham/" target="_blank">
						<img src="https://imsesite.wpengine.com/wp-content/themes/starting-point/dist/images/icon-pinterest.svg"
							alt="IMSE Pinterest Profile" />
					</a>
				</li>
				<li>
					<a href="https://www.youtube.com/channel/UCPJqkhSNKynPzgLj4Xuqp9g" target="_blank">
						<img src="https://imsesite.wpengine.com/wp-content/themes/starting-point/dist/images/icon-youtube.svg"
							alt="IMSE Youtube Profile" />
					</a>
				</li>
				<li>
					<a href="https://twitter.com/IMSEOG" target="_blank">
						<img src="https://imsesite.wpengine.com/wp-content/themes/starting-point/dist/images/icon-twitter.svg"
							alt="IMSE Twitter Profile" />
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/company/orton-gillingham/" target="_blank">
						<img src="https://imsesite.wpengine.com/wp-content/themes/starting-point/dist/images/icon-linked.svg"
							alt="IMSE Linkedin Profile" />
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>