/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 45vh;
	min-height: 200px;

	& h1 {
		z-index: 10;
		position: absolute;
		bottom: var(--xLarge);
		left: 50%;
		width: 90vw;
		margin: 0;
		padding: var(--Medium) var(--Large);
		text-align: center;
		background-color: var(--White);
		transform: translateX(-50%);

		@media(--tablet) {
			left: 0;
			width: auto;
			min-width: 45vw;
			max-width: 85vw;
			padding: 24px 96px;
			text-align: right;
			transform: none;
		}
	}

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&.columns-1 img {
		width: 100%;
		margin-right: 0;
	}

	&.columns-2 img:not(:first-of-type),
	&.columns-3 img:not(:first-of-type) {
		display: none;
	}

	@media(--tablet) {

		&.columns-2 img:not(:first-of-type),
		&.columns-3 img:not(:first-of-type) {
			display: block;
		}

		&.columns-2 img {
			width: calc((100% - 2em)/2);
		}

		&.columns-3 img {
			width: 33%;
			width: calc((100% - 3em)/3);
		}

		&.columns-2 img:nth-of-type(2n),
		&.columns-3 img:nth-of-type(3n) {
			margin-right: 0;
		}
	}
}

/*-----------------------------------*\
	ACTION HEADER
\*-----------------------------------*/
header.action-header {
	position: relative;
	margin-bottom: 40vh;
	padding-top: var(--Medium);

	& h1 {
		z-index: 10;
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
		text-align: center;
	}

	& p.subheader {
		z-index: 10;
		position: relative;
		max-width: 650px;
		margin: 0 auto;
		padding-bottom: var(--xLarge);
		font-size: 24px;
		line-height: 1.2;
		text-align: center;

		@media(--tablet) {
			font-size: 32px;
		}
	}

	& a.button {
		display: table;
		z-index: 10;
		position: relative;
		position: relative;
		margin: 0 auto;
	}

	& svg {
		z-index: 5;
		position: absolute;
		top: calc(100% - 20px);
		left: 50%;
		width: 100%;
		min-width: 1200px;
		margin-bottom: 0;
		transform: translateX(-50%) translateY(-42%);
	}

	& img {
		z-index: -1;
		position: absolute;
		width: 100%;
		height: 50vh;
		margin-top: -10vh;
		object-fit: cover;
	}

	&+main {
		position: relative;
		top: -96px;
		margin-bottom: -96px;

		&>article>section:first-child:not(.card-grid) {
			margin-top: 300px;
		}
	}
}