/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	padding: var(--Large);
	background-color: var(--GreyLight);

	&>div {
		max-width: 1500px;
		margin: 0 auto;

		&>div:first-child {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			grid-column-gap: 40px;

			@media(--phone) {
				grid-template-columns: repeat(6, 1fr);
				grid-template-rows: 1fr 1fr;
			}

			@media(--laptop) {
				grid-template-rows: 1fr;
			}

			&>div {
				&:first-child {
					grid-column: 1 / span 2;
					grid-row: auto / auto;
					margin-bottom: var(--Large);

					@media(--phone) {
						grid-column: 1 / span 2;
						grid-row: 1 / span 1;
						margin-bottom: 0;
					}

					@media(--laptop) {
						grid-column: auto / auto;
						grid-row: auto / auto;
					}
				}

				&:last-child {
					grid-column: 1 / span 2;
					grid-row: auto / auto;

					@media(--phone) {
						grid-column: 1 / span 2;
						grid-row: 2 / span 1;
					}

					@media(--laptop) {
						grid-column: auto / auto;
						grid-row: auto / auto;
					}
				}

				& .title {
					display: block;
					margin: var(--Large) 0 var(--Large) 0;
					font-weight: 800;
				}

				& img.logo {
					width: auto;
					height: 80px;
				}

				& address {
					display: none;
					padding-left: var(--Medium);
					font-style: normal;

					@media(--phone) {
						display: block;
					}

					& a.button {
						margin: var(--Medium) 0;
					}
				}

				& nav ul {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					align-items: center;

					& a {
						margin: 0 var(--Small) var(--Small) 0;
						padding: 0;
						border-radius: 50%;
						background-color: transparent;

						&:hover,
						&:focus {
							background-color: hsl(0, 0%, 80%);
						}

						& img {
							display: block;
							width: 48px;
							height: 48px;
						}
					}
				}
			}

			& details {
				margin: 0 0 var(--Medium) 0;
				border-left: 0;

				@media(--phone) {
					margin: 0;
					background-color: transparent;
					box-shadow: none;
				}

				&:nth-of-type(1) {
					grid-column: 1 / span 2;
					grid-row: auto / auto;

					@media(--phone) {
						grid-column: 3 / span 2;
						grid-row: 1 / span 1;
					}

					@media(--laptop) {
						grid-column: auto / auto;
						grid-row: auto / auto;
					}
				}

				&:nth-of-type(2) {
					grid-column: 1 / span 2;
					grid-row: auto / auto;

					@media(--phone) {
						grid-column: 5 / span 2;
						grid-row: 1 / span 1;
					}

					@media(--laptop) {
						grid-column: auto / auto;
						grid-row: auto / auto;
					}
				}

				&:nth-of-type(3) {
					grid-column: 1 / span 2;
					grid-row: auto / auto;

					@media(--phone) {
						grid-column: 3 / span 2;
						grid-row: 2 / span 1;
					}

					@media(--laptop) {
						grid-column: auto / auto;
						grid-row: auto / auto;
					}
				}

				&:nth-of-type(4) {
					grid-column: 1 / span 2;
					grid-row: auto / auto;

					@media(--phone) {
						grid-column: 5 / span 2;
						grid-row: 2 / span 1;
					}

					@media(--laptop) {
						grid-column: auto / auto;
						grid-row: auto / auto;
					}
				}

				& summary {
					font-weight: 800;
					font-size: 16px;

					@media(--phone) {
						margin: var(--Large) 0 var(--Large) 0;
						padding: 0;
						pointer-events: none;

						&::after {
							display: none;
						}

						&::-webkit-details-marker {
							display: none;
						}
					}
				}

				& nav {
					padding: 0 var(--Medium);

					@media(--phone) {
						padding: 0;
					}

					& li {
						padding: var(--Small) 0;
						border-top: 1px solid var(--GreyLight);

						@media(--phone) {
							margin-top: none;
							padding: 0;
							border-top: 0;
						}

						&:first-child {
							margin-top: var(--Small);

							@media(--phone) {
								margin-top: 0;
							}
						}
					}
				}

				& a {
					padding: 0;
					color: var(--GreyDark);
					font-weight: 800;
					font-size: 16px;
					text-transform: none;

					&:hover,
					&:focus {
						text-decoration: underline;
					}

					@media(--phone) {
						font-weight: 400;
						font-size: 14px;
					}
				}
			}
		}

		&>div:last-child {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-top: var(--Large);

			& .login {
				width: 100%;

				@media(--phone) {
					width: 50%;
					padding-left: var(--Medium);
				}

				& a.button {
					display: table;
					padding: 0;

					&.split {
						text-decoration: none;

						& span.link {
							text-decoration: underline;
						}

						& span.label {
							padding-right: var(--Small);
							color: var(--GreyDark);
							font-weight: normal;
							text-decoration: none;
						}
					}
				}
			}

			& .badges {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				display: flex;
				justify-content: space-around;
				align-items: center;

				@media(--phone) {
					width: 50%;
				}

				& img {
					display: inline-block;
					margin: var(--Medium) 0;
					height: auto;
					object-fit: contain;

					&:first-child {
						width: 80px;
					}

					&:nth-child(2) {
						width: 120px;
					}

					&:last-child {
						width: 180px;
					}
				}
			}
		}
	}
}

/*-----------------------------------*\
	COPYRIGHT FOOTER
\*-----------------------------------*/
footer.copyright {
	padding: var(--Medium);
	background-image: url(../images/pattern_yellow_wide.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		max-width: 1500px;
		margin: 0 auto;

		@media(--phone) {
			flex-wrap: nowrap;
		}

		&>a {
			margin: 0 auto;

			@media(--phone) {
				margin: 0;
			}
		}

		& img {
			display: block;
		}

		&>div {
			& p {
				margin: 0;
				color: var(--Black);
				font-size: 14px;
				line-height: 1;
			}

			& ul {
				display: block;
				justify-content: flex-start;
				align-items: center;
				margin: var(--Medium) 0;
				padding: 0;

				@media(--phoneold) {
					display: flex;
				}

				@media(--phone) {
					margin: 0;
				}

				& li {
					padding: 0;

					&:before {
						display: none;
					}

					&:first-child a,
					&:first-child button {
						padding-left: 0;
					}

					&:last-child a,
					&:last-child button {
						border: none;
					}
				}
			}

			& a,
			& button {
				padding: 0;
				border-radius: 0;
				color: var(--Black);
				font-weight: 400;
				font-size: 14px;
				line-height: 1;
				text-align: left;
				text-decoration: none;
				background-color: transparent;
				box-shadow: none;

				@media(--phoneold) {
					padding: 0 var(--Small);
					border-right: 1px solid var(--Black);
					text-align: center;
				}

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}