/*-----------------------------------*\
	WYSIWYG + SIDEBAR CARDS
\*-----------------------------------*/
.text_sidebar {
  & > section {
    width: 100%;
  }

  & section.card-grid {
    align-items: flex-start;
    margin: var(--xLarge) auto;

    & .card {
      &::before {
        background-image: url(../images/pattern_blue_small.jpg);
      }

      &:nth-child(2n)::before {
        background-image: url(../images/pattern_red_small.jpg);
      }

      &:nth-child(3n)::before {
        background-image: url(../images/pattern_yellow_small.jpg);
      }
    }
  }

  @media(--tablet) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 48px;

    & section.editor {
      order: 2;
    }
  }
}
