/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
/*------------------------------*\
	TESTIMONIALS
\*------------------------------*/
body.post-type-archive-testimony {
	& blockquote {
		margin-bottom: 96px;
	}
}