/*----------------------------------------------------------------*\
	STYLES APPLIED TO VARIOUS WOOCOMMERCE ELEMENTS, SECTIONS, AND TEMPLATES
\*----------------------------------------------------------------*/
/*------------------------------*\
	WOO NOTICES
\*------------------------------*/
.clear {
	clear: both;
}

.woocommerce-notices-wrapper {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;

	& .woocommerce-message {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin: 0 auto var(--xLarge) auto;
		padding: var(--Medium) var(--Large);
		border-top: 4px solid var(--Blue);
		color: var(--Black);
		font-style: normal;
		font-size: 18px;
		font-family: 'Karla', sans-serif;
		box-shadow: 0 7px 27px 0 rgba(0, 0, 0, 0.13);

		& .button {
			order: 2;
			margin: 0;
			padding: 14px 0;
			padding: var(--Small);
			color: var(--Blue);
			background-color: transparent;
			box-shadow: none;

			&::after {
				display: inline-block;
				margin-left: var(--xSmall);
				content: ">";
			}

			&:hover,
			&:focus {
				color: var(--BlueDark);
				text-decoration: underline;
				background-color: transparent;
			}
		}
	}

	& li::after {
		display: block;
		content: '';
		clear: both;
	}
}

/*------------------------------*\
	ARCHIVE
\*------------------------------*/
/* page layout */
body.post-type-archive-product,
body.tax-product_cat,
body.page-template-archive-product {
	& main {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		grid-auto-flow: column dense;
		grid-column-gap: 40px;
		width: 90%;
		max-width: 1200px;
		margin: 0 auto 96px auto;

		& header.woocommerce-products-header {
			grid-column: 1 / span 4;
		}

		& .page-title-header,
		& .woocommerce-notices-wrapper,
		& ul.products {
			grid-column: 1 / span 4;

			@media(--tablet) {
				grid-column: 2 / span 3;
			}
		}

		& .woocommerce-info {
			grid-column: 2 / span 3;
			text-align: center;
		}

		& #sidebar {
			grid-column: 1 / span 4;

			@media(--tablet) {
				grid-column: 1 / span 1;
				grid-row: 2/span 3;
			}

			& ul.menu {
				column-count: 1;

				@media(--phone) {
					column-count: 2;
				}

				@media(--tablet) {
					column-count: 1;
				}
			}
		}
	}
}

.woocommerce-error {
	margin: 0 auto var(--xLarge) auto;
	padding: var(--Medium) var(--Large);
	border-top: 4px solid var(--Red);
	color: var(--Black);
	font-style: normal;
	font-size: 14px;
	font-family: 'Karla', sans-serif;
	box-shadow: 0 7px 27px 0 rgba(0, 0, 0, 0.13);

	& li {
		padding: var(--xSmall) 0;

		&:before {
			display: none;
		}
	}
}

/* page header */
header.woocommerce-products-header {
	padding: var(--Large) 0 var(--xLarge) 0;

	& h2 {
		margin: 0 0 var(--xSmall) 0;
	}

	& nav.woocommerce-breadcrumb {
		float: left;
		width: 100%;
		color: var(--Black);
		font-weight: bold;
		line-height: 34px;

		@media(--tablet) {
			width: calc(100% - 300px);
		}

		& a {
			color: var(--Black);
			font-weight: normal;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	& form.woocommerce-ordering {
		display: flex;
		justify-content: space-between;
		justify-content: flex-start;
		align-items: center;
		float: none;
		width: 100%;

		@media(--phone) {
			justify-content: space-between;
			float: right;
			width: auto;
		}

		&::before {
			display: inline-block;
			margin-right: var(--Medium);
			color: var(--Black);
			font-weight: 800;
			line-height: 1;
			content: 'Sort By';
		}

		& select {
			width: auto;
			padding: 8px 32px 8px 8px;
			border: none;
			color: var(--Black);
			font-weight: 400;
			background-color: transparent;
			background-position: top 5px right 4px;
		}
	}
}

/* page title */
.page-title-header {
	& h1 {
		margin: 0;
		font-size: 24px;

		@media(--phone) {
			font-size: 28px;
		}
	}
}

/* products */
ul.products {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 24px;
	width: 100%;
	margin: var(--Large) 0;
	padding: 0;

	@media(--phone) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media(--laptop) {
		grid-template-columns: repeat(3, 1fr);
	}

	&::before,
	&::after {
		display: none !important;
	}

	& li {
		width: 100% !important;
		margin: 0 !important;
		padding: 0;

		&::before {
			display: none;
		}

		& a {
			display: flex;
			flex-direction: column;
			height: 100%;
			text-decoration: none;
			background-color: var(--GreyLight);

			&:hover,
			&:focus {
				color: var(--White);
				background-color: var(--Red);

				& h2,
				& .product-meta,
				& .price,
				& .price del,
				& .price ins {
					color: var(--White);
				}
			}
		}

		&>*:not(h2) {
			flex-grow: 0;
		}

		& span.onsale {
			display: flex;
			position: absolute;
			top: 8px;
			right: 8px;
			justify-content: center;
			align-items: center;
			padding: var(--Small) var(--Medium);
			border-radius: 4px;
			color: Var(--Black);
			font-weight: 800;
			font-size: 12px;
			line-height: 1;
			text-transform: uppercase;
			background-color: var(--Green);
		}

		& img {
			width: 100%;
			height: auto;
		}

		& h2 {
			flex-grow: 1;
			margin: var(--Medium) 0 var(--Large) 0;
			padding: 0 var(--Medium);
			font-style: normal;
			font-weight: 800;
			font-size: 18px;
			line-height: 1.1;
			font-family: 'Karla', sans-serif;
		}

		& .product-meta {
			padding: 0 var(--Medium);
			color: var(--Grey);
			font-size: 14px;
		}

		& span.price {
			display: block;
			margin: var(--Small) 0 var(--Medium) 0;
			padding: 0 var(--Medium);
			color: var(--Black);
			font-style: normal;
			font-weight: 300;
			font-size: 24px;
			line-height: 1.1;
			font-family: 'lexia', serif;

			@media(--phone) {
				font-size: 28px;
			}

			& del {
				display: block;
				margin: var(--xSmall) 0;
				color: var(--Grey);
				font-size: 14px;
			}

			& ins {
				text-decoration: none;
			}
		}
	}
}

/* sidebar */
body.post-type-archive-product #sidebar,
body.tax-product_cat #sidebar,
body.page-template-archive-product #sidebar {
	&>ul {
		margin: 0;
		padding: 0;

		&>div:first-child h3 {
			margin: 0;
		}
	}

	& ul.menu {
		margin: var(--Medium) 0;
		padding: 0;

		& li {
			padding: var(--xSmall) 0;

			&:before {
				display: none;
			}

			&.current-menu-item a {
				background-color: var(--GreyLight);
			}

			& a {
				display: block;
				padding: var(--xSmall) var(--Medium);
				border-radius: 4px;
				color: var(--Black);
				font-weight: 800;
				text-decoration: none;

				&:hover,
				&:focus {
					background-color: var(--GreyLight);
				}
			}
		}
	}
}

.article-content {
	grid-column: 1/span 4;

	& section {
		width: 100%;
	}
}

/*------------------------------*\
	SINGLE
\*------------------------------*/
/* page layout */
body.single-product {
	& header.woocommerce-products-header {
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
	}

	& main>.product {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 40px;
		width: 90%;
		max-width: 1200px;
		margin: 0 auto 96px auto;

		& .woocommerce-product-gallery {
			grid-column: 1 / span 5;

			@media(--tablet) {
				grid-column: 1 / span 3;
			}
		}

		& .summary {
			grid-column: 1 / span 5;

			@media(--tablet) {
				grid-column: 4 / span 2;
			}
		}

		& .related.products {
			grid-column: 1 / span 5;
		}
	}
}

/* gallery */
.product .woocommerce-product-gallery {
	display: flex;
	width: 100% !important;
	margin: 0;

	& .flex-viewport {
		order: 2;
		max-width: 600px !important;
	}

	& figure {
		margin: 0;
	}

	& ol.flex-control-nav {
		flex-shrink: 0;
		margin: var(--xSmall) 0 0 0;
		margin: 0 40px 0 0;
		padding: 0;
		list-style: none;

		& li {
			width: 48px;
			height: 48px;
			margin: 0 0 var(--Medium) 0;
			padding: 0;

			&::before {
				display: none;
			}

			& img {
				display: block;
				width: 48px;
				height: 48px;
				border-radius: 50%;
				cursor: pointer;
				object-fit: cover;
				object-position: center;

				&.flex-active {
					box-shadow: 0 0 0 3px var(--Blue);
				}
			}
		}
	}
}

/* summary */
.product .summary {
	width: 100% !important;
	margin: var(--Large) 0 0 0 !important;

	@media(--tablet) {
		margin: 0 !important;
	}

	& span.onsale {
		display: inline-block;
		margin: 0 var(--Small) 0 0;
		padding: var(--Small) var(--Medium);
		border-radius: 4px;
		color: Var(--Black);
		font-weight: 800;
		font-size: 12px;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
		background-color: var(--Green);
	}

	& h1 {
		margin: 0 0 var(--Small) 0;
		font-size: 24px;

		@media(--phone) {
			font-size: 28px;
		}
	}

	& .price {
		display: block;
		margin: 48px 0;
		color: var(--Black);
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 1.1;
		font-family: 'lexia', serif;

		@media(--phone) {
			font-size: 28px;
		}

		& del {
			display: block;
			margin: var(--xSmall) 0;
			color: var(--Grey);
			font-size: 14px;
		}

		& ins {
			text-decoration: none;
		}
	}

	& ul {
		margin: var(--Medium) 0;
		padding: 0;
	}

	& form {
		max-width: 100%;
		margin-top: 48px;

		&:not(.variations_form) {
			display: flex;
		}

		& table {
			width: 100%;

			& td {
				vertical-align: top;
			}
		}

		& select.has-placeholder {
			color: var(--Black);
		}

		& .woocommerce-variation-add-to-cart {
			display: flex;
		}

		& input.qty {
			width: 80px;
			margin-right: var(--Medium);
			padding: 16px 16px 12px 16px;
		}

		& button {
			min-width: 200px;
			margin: 0;
			color: var(--White);
			background-color: var(--Red);
			box-shadow: none;

			&:hover,
			&:focus {
				color: var(--White);
				background-color: var(--RedDark);
			}
		}
	}
}

.product_cat-ticket .summary,
.product-type-grouped .summary {
	& form.cart {
		display: block;

		& table td {
			padding-bottom: 16px;
		}
	}
}

.product-addon-totals li::before {
	display: none;
}

/* related */
.related.products {
	margin: 96px 0 0 0;

	& ul.products {
		grid-template-columns: repeat(2, 1fr);

		@media(--tablet) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

/* hide 'add to cart' for ticket products */
body.single-product .product_cat-ticket .summary form.cart {
	display: none;
}

/*------------------------------*\
	CART
\*------------------------------*/
/* header */
body.woocommerce-cart header.post-head {
	height: auto;
	min-height: 0;
	padding: var(--Large) 0 var(--xLarge) 0;

	& h1 {
		display: flex;
		position: initial;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
		text-align: left;
		transform: none;

		& a.button {
			position: relative;
			top: -8px;
		}
	}
}

/* table */
body.woocommerce-cart main {
	& article {
		margin-top: 0;
	}

	& form {
		max-width: 100%;

		& table {
			display: table;
			width: 100%;
			max-width: 100%;
			margin: 0;
			table-layout: fixed;
			border-spacing: 0;
			border-collapse: collapse;

			& thead {
				display: none;
			}

			& tbody {
				display: table;
				width: 100%;

				& tr {
					display: table-row;
					width: 100%;

					&:not(:first-child) {
						border-top: 4px solid var(--GreyLight);
					}

					& td {
						padding: var(--Large) var(--Small);
						background-color: var(--White) !important;
					}
				}

				& .product-remove {
					width: 48px;

					@media(--tablet) {
						width: 64px;
					}

					& a {
						display: inline-flex;
						justify-content: center;
						align-items: center;
						width: 32px;
						height: 32px;
						border: 4px solid transparent;
						border-radius: 50%;
						color: var(--White);
						font-size: 28px;
						text-decoration: none;
						background-color: var(--Red);
						transition: all 0.2s linear;

						@media(--tablet) {
							width: 40px;
							height: 40px;
							color: var(--Red);
							background-color: transparent;
						}

						&:hover,
						&:focus {
							border: 4px solid var(--RedDark);
							color: var(--RedDark);
						}
					}
				}

				& .product-thumbnail {
					width: 150px;

					& img {
						width: 120px;
						height: 120px;
					}
				}

				& .product-name {
					color: var(--Black);
					font-style: normal;
					font-weight: 800;
					font-size: 18px;
					line-height: 1.1;
					font-family: Karla, sans-serif;
					text-decoration: none;

					& a {
						color: var(--Black);
						font-style: normal;
						font-weight: 800;
						font-size: 18px;
						line-height: 1.1;
						font-family: 'Karla', sans-serif;
						text-decoration: none;
					}

					& dl {
						font-size: 14px;
						font-weight: normal;
						margin: 0 0 0 8px;

						& dt {
							float: left;
							clear: both;
							margin: 0 6px 0 0;
						}

						& p {
							margin: 0;
						}

						& dd {
							margin: 8px 0;
						}
					}
				}

				& .product-price {
					display: none;
				}

				& .product-quantity {
					& input {
						width: 96px;
					}
				}
			}

			& td.actions {
				padding: var(--Medium) 0;

				& .button,
				& button {
					margin: 0;
				}
			}

			& .coupon {
				margin-bottom: 24px;

				@media(--tablet) {
					margin-bottom: 0;
				}

				& input {
					margin-right: var(--Small);
					padding: 10px var(--Medium) 6px var(--Medium);

					@media(--tablet) {
						min-width: 200px;
					}
				}
			}
		}
	}
}

/* totals */
body.woocommerce-cart main {
	& .cart_totals {
		max-width: 400px;

		& table {
			display: table;
			width: 100%;
			max-width: 100%;
			margin: 0;
			table-layout: fixed;
			border-spacing: 0;
			border-collapse: collapse;

			& tr {
				display: table-row;
				width: 100%;

				&:nth-child(even) {
					background-color: var(--GreyLight);
				}

				& th {
					padding: var(--Small) var(--Medium);
					text-align: left;
				}

				& td {
					padding: var(--Small) var(--Medium);
					text-align: right;
				}
			}

			& ul {
				margin: 0;
				padding: 0;

				& li {
					&:before {
						display: none;
					}
				}
			}

			& .woocommerce-shipping-destination {
				margin: 0;
				font-size: 14px;

				&+form {
					display: none;
				}
			}
		}

		& .wc-proceed-to-checkout {
			margin-top: var(--Medium);

			& a.button {
				position: relative;
				min-width: 160px;
				border-radius: 0;
				color: var(--White);
				font-size: 12px;
				text-transform: uppercase;
				background: transparent;
				box-shadow: none;

				&::after {
					display: block;
					z-index: -1;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 160%;
					letter-spacing: 0.5px;
					content: "";
					background-image: url(../images/brushstroke.png);
					background-repeat: no-repeat;
					background-position: 50%;
					background-size: contain;
					transition: all 0.2s linear;
					transform: translate(-50%, -50%);
				}

				&:hover,
				&:focus {
					background-color: transparent;

					&::after {
						background-image: url(../images/brushstroke-hover.png);
					}
				}
			}
		}
	}
}

/*------------------------------*\
	CHECKOUT
\*------------------------------*/
.select2-results {
	& ul li::before {
		display: none;
	}
}

/* header */
body.woocommerce-checkout {
	& header.post-head {
		height: auto;
		min-height: 0;
		padding: var(--Large) 0 var(--xLarge) 0;

		& h1 {
			display: flex;
			position: initial;
			justify-content: space-between;
			align-items: center;
			width: 90%;
			max-width: 720px;
			margin: 0 auto;
			padding: 0;
			text-align: left;
			transform: none;

			& a.button {
				position: relative;
				top: -8px;
			}
		}
	}

	&.woocommerce-order-received header.post-head h1 {
		max-width: 960px;
	}

	& article>section.editor {
		max-width: 960px;
	}
}

/* form */

.woocommerce-form__label-for-checkbox {
	& input {
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		margin-right: var(--Small);
		border: 2px solid var(--GreyLight);
		border-radius: 4px;
		vertical-align: middle;
		cursor: pointer;

		-webkit-appearance: none;
		-moz-appearance: none;

		&:checked {
			border-color: var(--Green);
			background-color: var(--Green);

			&+span::before {
				opacity: 1;
			}
		}

		&+span {
			position: relative;
			cursor: pointer;

			&::before {
				display: block;
				opacity: 0;
				position: absolute;
				top: 1px;
				left: -31px;
				width: 16px;
				height: 16px;
				content: "";
				background-image: url('../images/checkmark-white.svg');
				background-repeat: no-repeat;
				background-position: 50%;
				background-size: contain;
				transition: all 0.15s linear;
			}
		}
	}
}

body.woocommerce-checkout main {
	& article {
		margin-top: 0;

		& form.checkout {
			width: 90%;
			max-width: 720px;
			margin: 0 auto;

			& .col-1,
			& .col-2 {
				width: 100% !important;
			}

			& .col-1 {
				margin-bottom: var(--xLarge);
			}

			& .required {
				display: none;
			}

			& .select2-selection {
				height: auto;
				border: none;

				& .select2-selection__arrow {
					display: none;
				}

				&>span {
					width: 100%;
					padding: 16px 24px 12px 24px;
					border: none;
					border-bottom: 4px solid var(--GreyLight);
					border-radius: 4px;
					color: var(--Black);
					font-weight: 800;
					line-height: 1 !important;
					background-color: var(--GreyLight);
					background-image: url(../images/select_arrow.svg);
					background-repeat: no-repeat;
					background-position: top 14px right 8px;
					background-size: 24px;

					-webkit-appearance: none;
					-moz-appearance: none;

					&:focus {
						border-color: var(--BlueDark);
						outline: none;
						box-shadow: none;
					}
				}
			}

			& label span.optional {
				margin-left: var(--xSmall);
				color: var(--BlueDark);
				font-size: 12px;
				vertical-align: text-bottom;
			}

			& input[type=file] {
				position: relative;
				padding: 0;
				border: none;
				border-radius: 4px;
				font-weight: 400;
				background-color: transparent;
			}

			& .alg_checkout_files_upload_file_input::-webkit-file-upload-button {
				display: none;
				visibility: hidden;
			}

			& .alg_checkout_files_upload_file_input::before {
				display: inline-block;
				width: auto;
				min-width: 120px;
				padding: 10px var(--Medium);
				border: none;
				border-radius: 4px;
				color: var(--Grey);
				font-weight: 800;
				font-size: 16px;
				font-family: Karla, sans-serif;
				text-align: center;
				text-decoration: none;
				cursor: pointer;
				content: 'Upload Purchase Order';
				background-color: var(--GreyLight);
				transition: all 0.2s linear;

				-webkit-user-select: none;
			}

			& #alg_checkout_files_upload_result_1 {
				& span a {
					padding: 6px 12px;
					border-radius: 4px;
					color: var(--White);
					text-decoration: none;
					background: var(--Blue);
				}

				& a.alg_checkout_files_upload_result_delete {
					padding: 5px 12px;
					border-radius: 4px;
					color: var(--White) !important;
					font-size: 18px;
					text-decoration: none;
					background-color: var(--Red);
				}
			}
		}
	}

	& .woocommerce-billing-fields {
		& h3:first-child {
			margin-top: 0;
		}
	}

	& .woocommerce-shipping-fields {
		& h3 {
			@media(--tablet) {
				margin-top: 0;
			}

			& label {
				position: relative;
				color: var(--Black);
				font-style: normal;
				font-weight: 300;
				font-size: 24px;
				line-height: 1.1;
				font-family: 'lexia', serif;

				@media(--phone) {
					font-size: 28px;
				}

				& input {
					flex-shrink: 0;
					width: 24px;
					height: 24px;
					margin-right: var(--Small);
					border: 2px solid var(--GreyLight);
					border-radius: 4px;
					vertical-align: middle;
					cursor: pointer;

					-webkit-appearance: none;

					&:checked {
						border-color: var(--Green);
						background-color: var(--Green);

						&+span::before {
							opacity: 1;
						}
					}
				}

				& span::before {
					display: block;
					opacity: 0;
					position: absolute;
					top: 6px;
					left: -34px;
					width: 16px;
					height: 16px;
					content: "";
					background-image: url(../images/checkmark-white.svg);
					background-repeat: no-repeat;
					background-position: 50%;
					background-size: contain;
					transition: all 0.15s linear;
				}
			}
		}
	}

	& .woocommerce-additional-fields {
		& .tax-exempt-option {
			& .woocommerce-input-wrapper {
				display: flex;
				justify-content: flex-start;
				align-items: center;

				& .tax-exempt>label {
					margin-bottom: var(--Small);
				}

				& input {
					flex-shrink: 0;
					width: 24px;
					height: 24px;
					margin-right: var(--Small);
					border: 4px solid var(--GreyLight);
					border-radius: 50%;
					vertical-align: middle;
					cursor: pointer;

					-webkit-appearance: none;
					-moz-appearance: none;

					&:checked {
						background-color: var(--Blue);
					}

					&+label {
						margin: 0 var(--Large) 0 0;
						padding: 0;
						color: var(--Black);
						font-weight: 500;
						font-size: 14px;
						line-height: 1;
						vertical-align: middle;
						letter-spacing: 0.5px;
						cursor: pointer;
					}
				}
			}

			&+h3 {
				display: none;
			}
		}
	}
}

/* order review */
.woocommerce-checkout-review-order-table {
	display: table;
	width: 100%;
	max-width: 100%;
	margin: 0;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;

	@media(--phone) {
		max-width: 60%;
	}

	@media(--tablet) {
		max-width: 48%;
	}

	& tfoot {
		border-top: 2px solid var(--GreyLight);
	}

	& tr {
		display: table-row;
		width: 100%;

		& ul {
			margin: 0;
			padding: 0;

			& li {
				padding: var(--xSmall) 0;

				&::before {
					display: none;
				}
			}
		}

		& th.product-name {
			width: 75%;
		}

		& th,
		& td.product-name {
			padding: var(--Small) var(--Medium);
			text-align: left;

			& dl {
				font-size: 14px;
				font-weight: normal;
				margin: 0 0 0 8px;

				& dt {
					float: left;
					clear: both;
					margin: 0 6px 0 0;
				}

				& p {
					margin: 0;
				}

				& dd {
					margin: 8px 0;
				}
			}
		}

		& th.product-total,
		& td {
			padding: var(--Small) var(--Medium);
			text-align: right;
		}
	}
}

/* credit card */
.woocommerce-checkout-payment {
	margin-top: var(--xLarge);

	& ul {
		margin: 0;
		padding: 0;

		& li {
			padding: 0;

			&::before {
				display: none;
			}

			&>label {
				display: flex;

				& img:first-of-type {
					margin-left: var(--Small);
				}
			}
		}
	}

	& .payment_method_stripe {
		& p {
			font-size: 14px;
		}
	}

	& .wc-credit-card-form {
		& .wc-stripe-elements-field {
			width: 100%;
			padding: 16px 24px 12px 24px;
			border: none;
			border-bottom: 4px solid var(--GreyLight);
			border-radius: 4px;
			color: var(--Black);
			font-weight: 800;
			background-color: var(--GreyLight);

			&.focused {
				border-color: var(--BlueDark);
				outline: none;
				box-shadow: none;
			}
		}
	}

	& .woocommerce-SavedPaymentMethods-saveNew {
		& input[type="checkbox"] {
			flex-shrink: 0;
			width: 24px !important;
			height: 24px;
			margin-right: var(--Small);
			border: 2px solid var(--GreyLight);
			border-radius: 4px;
			vertical-align: middle;
			cursor: pointer;

			-webkit-appearance: none;
			-moz-appearance: none;

			&:checked {
				border-color: var(--Green);
				background-color: var(--Green);

				&+label {
					&::before {
						opacity: 1;
					}
				}
			}
		}

		& label {
			position: relative;
			margin: 0;
			padding: 0;
			color: var(--Black);
			font-weight: 500;
			font-size: 14px;
			line-height: 1;
			vertical-align: middle;
			letter-spacing: 0.5px;
			cursor: pointer;

			&::before {
				display: block;
				opacity: 0;
				position: absolute;
				top: 0;
				left: -30px;
				width: 16px;
				height: 16px;
				content: '';
				background-image: url(../images/checkmark-white.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				transition: all 0.15s linear;
			}
		}
	}
}

.place-order {
	& button {
		display: table;
		position: relative;
		float: none !important;
		min-width: 160px;
		margin: var(--xLarge) auto;
		border-radius: 0;
		color: var(--White);
		font-size: 12px;
		text-transform: uppercase;
		background: transparent;
		box-shadow: none;

		&::after {
			display: block;
			z-index: -1;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 160%;
			letter-spacing: 0.5px;
			content: "";
			background-image: url(../images/brushstroke.png);
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: contain;
			transition: all 0.2s linear;
			transform: translate(-50%, -50%);
		}

		&:hover,
		&:focus {
			background-color: transparent;

			&::after {
				background-image: url(../images/brushstroke-hover.png);
			}
		}
	}
}

/*------------------------------*\
	ORDER CONFIRMATION
\*------------------------------*/
body.woocommerce-order-received {
	& .woocommerce-order {
		margin-top: -56px;
	}

	& p.payment-instructions {
		margin: 0;
	}

	& ul.woocommerce-thankyou-order-details {
		margin: 0;
		padding: 0;

		@media(--phone) {
			display: flex;
			flex-wrap: wrap;

			& li {
				padding: var(--xSmall) var(--Medium) var(--xSmall) 0;

				&:before {
					display: none;
				}
			}
		}
	}

	& .woocommerce-table--order-details {
		width: 400px;
		max-width: 100%;
		margin: 0;
		text-align: left;

		& tr {
			vertical-align: top;
		}

		& .wc-item-meta {
			margin: 8px 0 8px 8px;
			padding: 0;

			& li {
				padding: 0;
				font-size: 14px;
				display: flex;
				align-items: center;

				& p {
					margin: 0;
				}

				&::before {
					display: none;
				}
			}
		}

		& tfoot {
			display: table;
			width: 100%;
			margin-top: var(--Large);
		}
	}

	& .woocommerce-order-overview__purchase-order strong {
		margin-left: var(--Small);
	}

	& .woocommerce-customer-details h2 {
		margin-top: 0;
	}
}

section.register-attendees {
	margin-top: var(--Medium);

	&>div {
		display: inline-block;
		padding: 0 24px 32px 24px;
		background-color: var(--White);
		box-shadow: 0 7px 27px 0 rgba(0, 0, 0, .13);

		&::before {
			display: block;
			position: relative;
			left: -24px;
			width: calc(100% + 48px);
			height: 24px;
			margin-bottom: 32px;
			content: "";
			background-image: url('../images/pattern_blue_small.jpg');
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: cover;
		}
	}

	& h3 {
		margin-top: 0;
	}

	& form {
		max-width: 450px;
		margin: 0;

		& label {
			width: 100%;

			& span {
				display: block;
				font-weight: normal;
				font-style: italic;
			}
		}

		& textarea {
			min-height: 150px;
		}

		& p {
			font-size: 12px;

			& span {
				display: block;
			}
		}

		& button {
			margin: var(--Medium) 0 0 0;
		}
	}
}


/*------------------------------*\
	MY ACCOUNT
\*------------------------------*/
/* header */
body.page-id-2267 header.post-head,
body.woocommerce-account header.post-head {
	height: auto;
	min-height: 0;
	padding: var(--Large) 0 var(--xLarge) 0;

	& h1 {
		display: flex;
		position: initial;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
		text-align: left;
		transform: none;

		& a.button {
			position: relative;
			top: -8px;
		}
	}
}

/* article */
body.woocommerce-account article {
	margin-top: 0;

	& section.editor>.woocommerce {
		position: relative;

		&::after {
			display: block;
			clear: both;
			content: '';
		}
	}

	& #customer_login {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 48px;

		@media(--tablet) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 64px;
		}

		&::before,
		&::after {
			display: none;
		}

		&>div {
			width: 100%;

			& h2:first-child {
				margin-top: 0;
			}
		}
	}

	& form.woocommerce-form-login button {
		margin-top: 32px;
	}

	& form.woocommerce-form-register {
		&>p:not(.form-row) {
			font-size: 14px;
		}

		& .woocommerce-privacy-policy-text {
			font-size: 14px;
		}

		& button {
			margin-top: 32px;
		}
	}
}

/* dashbaord */
nav.woocommerce-MyAccount-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: var(--xLarge);

	@media(--tablet) {
		display: block;
	}

	& li {
		margin: 8px 0;

		@media(--tablet) {
			margin: 0;
		}
	}

	& li.is-active a {
		background-color: var(--GreyLight);
	}

	@media(--tablet) {
		& li.woocommerce-MyAccount-navigation-link--customer-logout::after {
			display: block;
			width: 100%;
			max-width: 250px;
			height: 2px;
			margin: 24px 0;
			content: '';
			background-color: var(--GreyLight);
		}
	}
}

.woocommerce-MyAccount-content>.woocommerce-notices-wrapper+* {
	margin-top: 0;
}

body.woocommerce-account main article {
	& table {
		width: 100%;
		margin: 0;
		border-spacing: 0;
		border-collapse: collapse;

		& thead {
			background-color: var(--GreyLight);
		}

		& th {
			padding: 8px 16px 8px 8px;
			text-align: left;
		}

		& td {
			padding: 8px 16px 8px 8px;
			vertical-align: top;

			&.woocommerce-orders-table__cell-order-actions {
				width: 100px;
			}

			& .wc-item-meta {
				padding: 0;
				margin: 4px 0;
				font-size: 14px;

				& li {
					display: flex;
					align-items: center;

					&::before {
						display: none;
					}

					& p {
						margin: 0;
					}
				}
			}
		}

		& .button {
			min-width: 0;
			margin: 0;
			padding: 6px 16px;

			&.delete {
				float: right;
				color: var(--White);
				background-color: var(--Red);
				box-shadow: none;

				&:hover,
				&:focus {
					background-color: var(--RedDark);
				}
			}
		}

		& tfoot {
			text-align: left;
		}

		&+button,
		&+.button {
			margin-top: 48px;
		}
	}

	& form {
		margin: 0;
	}
}

ul.payment_methods {
	&>li {
		display: flex;
		flex-wrap: wrap;
		margin: var(--Small) 0;
		padding: var(--Medium);
		border-left: 8px solid var(--White);
		border-radius: 4px;
		background-color: var(--White);
		box-shadow: 0 7px 27px 0 rgba(0, 0, 0, 0.13);

		&>label {
			margin: 0;
			line-height: 1;

			&.payment_method_stripe {
				padding-top: 6px;
			}
		}

		&>input[type=radio] {
			display: none;
			width: auto;
		}

		&>div:last-child>*:last-child {
			margin-bottom: 0;
		}
	}

	&::before {
		display: none;
	}

	& .payment_method_woocommerce_gateway_purchase_order fieldset label {
		display: none !important;
	}

	& fieldset {
		padding: 0;
		border: 0;

		&.wc-credit-card-form {
			margin: 0 36px;
		}

		& p {
			margin: 0;
		}
	}

	& ul.woocommerce-SavedPaymentMethods {
		& li {
			margin-bottom: var(--Small);
		}
	}

	& label {
		width: 100%;
		cursor: pointer;
	}

	& input[type=radio] {
		flex-shrink: 0;
		width: 24px !important;
		height: 24px;
		margin-right: var(--Small);
		border: 4px solid var(--GreyLight);
		border-radius: 50%;
		vertical-align: middle;
		cursor: pointer;

		-webkit-appearance: none;
		-moz-appearance: none;

		&:checked {
			background-color: var(--Blue);
		}
	}

	& img {
		margin: -4px 4px 0 4px !important;
		padding: 0 !important;
		vertical-align: middle;

		&:first-of-type {
			margin-left: var(--Medium) !important;
		}
	}

	& .woocommerce-PaymentBox {
		width: 100%;
	}
}