/*-----------------------------------*\
	NAVIGATION
\*-----------------------------------*/
nav {
  & ul {
    margin: 0;
    padding: 0;
    list-style: none;

    & li {
      margin: 0;
      padding: 0;

      &::before {
        display: none;
      }

      & a {
        display: inline-block;
        padding: 10px var(--Medium);
        color: var(--BlueDark);
        font-weight: 800;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.5px;

        &:hover,
        &:focus {
          color: var(--Blue);
          text-decoration: none;
        }
      }
    }
  }
}

/*-----------------------------------*\
	UTILITY
\*-----------------------------------*/
.utility {
  display: none;
  padding: 0 var(--Medium);
  background-image: url(../images/pattern_yellow_wide.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media(--tablet) {
    display: block;
  }

  & > div {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;

    & nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &.has-items li.cart {
        position: relative;

        &::before {
          display: block;
          position: absolute;
          top: 12px;
          right: 4px;
          left: auto;
          width: 8px;
          height: 8px;
          margin: 0;
          border-radius: 50%;
          content: "";
          background-color: var(--RedDark);
        }
      }
    }

    & ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      padding: 0;

      & li {
        padding: 0;

        &:before {
          display: none;
        }

        & a {
          color: var(--Black);
          text-transform: none;
          letter-spacing: 0;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }

    & button.search {
      min-width: 0;
      margin-left: var(--Medium);
      padding: 4px;
      border-bottom: 1px solid transparent;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;

      & img {
        display: block;
        width: 20px;
        height: 20px;

        &:first-child {
          display: block;
        }

        &:last-child {
          display: none;
        }
      }

      &:focus,
      &:hover {
        border-color: var(--Black);
        text-decoration: underline;
        background-color: transparent;
      }

      &.form-is-open {
        & img {
          &:first-child {
            display: none;
          }

          &:last-child {
            display: block;
          }
        }
      }
    }

    & form {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      max-width: 0;
      margin: 0;
      overflow: hidden;
      transition: all 0.35s linear;

      &.is-open {
        max-width: 600px;
      }

      & label {
        display: none;
      }

      & input {
        padding: 11px 24px 6px 24px;
        border-color: var(--White);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: var(--White);

        &:active,
        &:focus {
          border-color: var(--Blue);
        }
      }

      & button {
        min-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: var(--Blue);
        box-shadow: none;

        & img {
          display: block;
          width: 20px;
          height: 20px;
        }

        &:hover,
        &:active {
          background-color: var(--GreyLight);
        }
      }
    }
  }
}

/*-----------------------------------*\
	PRIMARY
\*-----------------------------------*/
.primary-navigation {
  display: none;
  z-index: 999999;
  position: relative;
  padding-bottom: 24px;

  @media(--tablet) {
    display: block;
  }

  & img.logo {
    display: block;
    width: auto;
    height: 88px;
    margin-top: -16px;

    @media(--laptop) {
      height: 110px;
      margin-top: -20px;
    }

    @media(--desktop) {
      height: 136px;
      margin-top: -24px;
    }
  }

  & nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 98vw;
    max-width: 1500px;
    margin: 0 auto;
    margin: 0;

    @media(--laptop) {
      width: 95vw;
      margin: 0 auto;
    }

    & > div {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: var(--Large);

        &::after {
          display: inline-block;
          width: 1px;
          height: 48px;
          margin-left: var(--Medium);
          content: '';
          background-color: var(--Grey);
        }

        & li.current-page-ancestor,
        & li.current_page_item,
        & li.current-menu-item {
          & a {
            border-top: 4px solid var(--Green);
          }
        }

        & a {
          padding: var(--Large) var(--Medium);
          border-top: 4px solid transparent;
          font-size: 14px;
          transition: all 0.2s linear;

          @media(--desktop) {
            font-size: 16px;
          }

          &:hover,
          &:focus {
            border-top: 4px solid var(--Green);
          }
        }
      }

      & button,
      & .button {
        min-width: 0;
        padding: 6px 12px;

        @media(--desktop) {
          min-width: 120px;
        }
      }

      & a img {
        width: 48px;
        height: 48px;

        @media(--desktop) {
          width: auto;
          height: auto;
        }
      }

      & img {
        vertical-align: middle;
      }
    }
  }
}

/*-----------------------------------*\
	PRIMARY - DROPDOWN
\*-----------------------------------*/
.primary-navigation ul li a:focus,
.primary-navigation ul li a:hover,
.primary-navigation ul li:hover a {
  & + ul.sub-menu {
    max-height: 600px;
    border-top: 4px solid var(--Green);
  }
}

.primary-navigation ul li ul.sub-menu:focus-within {
  max-height: 600px;
  border-top: 6px solid var(--Green);
}

.primary-navigation ul.sub-menu {
  display: block;
  z-index: 999999;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 325px;
  max-height: 0vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--White);
  transition: max-height 0.5s linear;

  &::after {
    display: none;
  }

  & li {
    border-bottom: 1px solid var(--Grey);

    & a {
      display: block;
      padding: 10px var(--Medium);
      border-top: none !important;
      color: var(--Black);
      text-transform: capitalize;

      &:hover,
      &:focus {
        background-color: var(--GreyLight);
      }
    }
  }
}

/*-----------------------------------*\
	STICKY
\*-----------------------------------*/
.sticky-navigation {
  display: none;
  z-index: 9999999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: hsla(0, 0%, 100%, 0.85);
  transition: all 0.2s linear;
  transform: translateY(-100%);

  @media(--tablet) {
    display: block;
  }

  &.is-stuck {
    transform: translateY(0);
  }

  & img.logo {
    display: block;
    width: auto;
    height: 72px;
  }

  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    max-width: 1500px;
    margin: 0 auto;

    & > div {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: var(--Medium);

        & li.current-page-ancestor,
        & li.current_page_item,
        & li.current-menu-item {
          & a {
            border-top: 4px solid var(--Green);
          }
        }

        & a {
          padding: var(--Large) var(--Medium);
          border-top: 4px solid transparent;
          transition: all 0.2s linear;

          &:hover,
          &:focus {
            border-top: 4px solid var(--Green);
          }
        }
      }

      & a.phone {
        margin-right: var(--Medium);
      }

      & a.cart.has-items {
        position: relative;

        &::before {
          display: block;
          position: absolute;
          top: 15px;
          right: 15px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          content: '';
          background-color: var(--Red);
        }
      }

      & img {
        vertical-align: middle;
      }
    }
  }
}

/*-----------------------------------*\
	STICKY - DROPDOWN
\*-----------------------------------*/
.sticky-navigation ul li a:focus,
.sticky-navigation ul li a:hover,
.sticky-navigation ul li:hover a {
  & + ul.sub-menu {
    max-height: 600px;
    border-top: 6px solid var(--Green);
  }
}

.sticky-navigation ul li ul.sub-menu:focus-within {
  max-height: 600px;
  border-top: 6px solid var(--Green);
}

.sticky-navigation ul.sub-menu {
  display: block;
  z-index: 999999;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 325px;
  max-height: 0vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--White);
  transition: max-height 0.5s linear;

  &::after {
    display: none;
  }

  & li {
    border-bottom: 1px solid var(--Grey);

    & a {
      display: block;
      padding: 10px var(--Medium);
      border-top: none !important;
      color: var(--Black);
      text-transform: capitalize;

      &:hover,
      &:focus {
        background-color: var(--GreyLight);
      }
    }
  }
}
